In [1]:
#first we import the neccessory modules

import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

#read data 
data=pd.read_csv("C:/Users/hp/Desktop/Exasens.csv")


data.head(10)

,Diagnosis,ID,Imaginary Part,Unnamed: 3,Real Part,Unnamed: 5,Gender,Age,Smoking,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Min,Avg.,Min,Avg.,NaN,NaN,NaN,NaN,NaN,Gender,Somking
2,COPD,301-4,-320.61,-300.5635307,-495.26,-464.1719907,1.0,77.0,2.0,NaN,NaN,Male=1,Non-smoker=1
3,COPD,302-3,-325.39,-314.7503595,-473.73,-469.2631404,0.0,72.0,2.0,NaN,NaN,Female=0,Ex-smoker=2
4,COPD,303-3,-323,-317.4360556,-476.12,-471.8976667,1.0,73.0,3.0,NaN,NaN,NaN,Active-smoker=3
5,COPD,304-4,-327.78,-317.3996698,-473.73,-468.856388,1.0,76.0,2.0,NaN,NaN,NaN,NaN
6,COPD,305-4,-325.39,-316.1557853,-478.52,-472.8697828,0.0,65.0,2.0,NaN,NaN,NaN,NaN
7,COPD,306-3,-327.78,-318.6775535,-507.23,-469.0241943,1.0,60.0,2.0,NaN,NaN,NaN,NaN
8,COPD,307-3,-330.18,-320.6174777,-473.73,-467.3618538,1.0,76.0,2.0,NaN,NaN,NaN,NaN
9,COPD,308,NaN,NaN,NaN,NaN,1.0,77.0,2.0,NaN,NaN,NaN,NaN

In [2]:
#we clear the unnessory columns like ID and Diagnosis 
#clear the coulmns which they have NaN values like Unnamed:9 ,Unnamed:10 ,Unnamed:11 ,Unnamed:12 

data.drop("Unnamed: 9",axis=1,inplace=True)
data.drop("Unnamed: 10",axis=1,inplace=True)
data.drop("Unnamed: 11",axis=1,inplace=True)
data.drop("Unnamed: 12",axis=1,inplace=True)
data.drop("Diagnosis",axis=1,inplace=True)
data.drop("ID",axis=1,inplace=True)
data

,Imaginary Part,Unnamed: 3,Real Part,Unnamed: 5,Gender,Age,Smoking
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Min,Avg.,Min,Avg.,NaN,NaN,NaN
2,-320.61,-300.5635307,-495.26,-464.1719907,1.0,77.0,2.0
3,-325.39,-314.7503595,-473.73,-469.2631404,0.0,72.0,2.0
4,-323,-317.4360556,-476.12,-471.8976667,1.0,73.0,3.0
...,...,...,...,...,...,...,...
396,NaN,NaN,NaN,NaN,0.0,49.0,2.0
397,NaN,NaN,NaN,NaN,0.0,37.0,1.0
398,NaN,NaN,NaN,NaN,0.0,29.0,1.0
399,NaN,NaN,NaN,NaN,1.0,51.0,1.0
400,NaN,NaN,NaN,NaN,0.0,40.0,1.0

In [3]:
#fill missing values(NaN values) 
#everywhere in dataset is NaN it puts 1 
data.fillna(1, inplace = True)
data

,Imaginary Part,Unnamed: 3,Real Part,Unnamed: 5,Gender,Age,Smoking
0,1,1,1,1,1.0,1.0,1.0
1,Min,Avg.,Min,Avg.,1.0,1.0,1.0
2,-320.61,-300.5635307,-495.26,-464.1719907,1.0,77.0,2.0
3,-325.39,-314.7503595,-473.73,-469.2631404,0.0,72.0,2.0
4,-323,-317.4360556,-476.12,-471.8976667,1.0,73.0,3.0
...,...,...,...,...,...,...,...
396,1,1,1,1,0.0,49.0,2.0
397,1,1,1,1,0.0,37.0,1.0
398,1,1,1,1,0.0,29.0,1.0
399,1,1,1,1,1.0,51.0,1.0
400,1,1,1,1,0.0,40.0,1.0

In [4]:

data.head(20)

   Imaginary Part    Unnamed: 3 Real Part    Unnamed: 5  Gender   Age  Smoking
0               1             1         1             1     1.0   1.0      1.0
1            Min          Avg.       Min          Avg.      1.0   1.0      1.0
2         -320.61  -300.5635307   -495.26  -464.1719907     1.0  77.0      2.0
3         -325.39  -314.7503595   -473.73  -469.2631404     0.0  72.0      2.0
4            -323  -317.4360556   -476.12  -471.8976667     1.0  73.0      3.0
5         -327.78  -317.3996698   -473.73   -468.856388     1.0  76.0      2.0
6         -325.39  -316.1557853   -478.52  -472.8697828     0.0  65.0      2.0
7         -327.78  -318.6775535   -507.23  -469.0241943     1.0  60.0      2.0
8         -330.18  -320.6174777   -473.73  -467.3618538     1.0  76.0      2.0
9               1             1         1             1     1.0  77.0      2.0
10        -320.61  -307.5995856   -476.12  -470.1816328     1.0  74.0      2.0
11        -315.82   -300.104765   -473.73  -466.3786343     1.0  67.0      2.0
12        -320.61   -308.117898   -471.34    -466.13057     1.0  65.0      2.0
13        -318.21  -306.2530384   -471.34  -466.5250462     1.0  75.0      2.0
14        -315.82  -294.2698616   -471.34  -463.1934272     0.0  56.0      2.0
15        -313.43  -299.0552022   -521.58  -421.1894102     1.0  75.0      2.0
16        -311.04     -297.9901   -466.55  -428.9503667     0.0  65.0      2.0
17              1             1         1             1     1.0  45.0      2.0
18              1             1         1             1     1.0  69.0      2.0
19           -323  -293.0287817   -466.55  -431.9906508     1.0  93.0      2.0

In [7]:
#if the age>120 or age<3 is the wrong data so should be clear it
for x in data.index: #check every index in dataset
  if data.loc[x, "Age"] > 120 or data.loc[x, "Age"] < 3:
    data.drop(x, inplace = True) #clear data if it is greater than 120 or less than 3
#clear duplicated datas 
data.drop_duplicates(inplace = True)
#if found the rows with reapiting data it clears them

data

,Imaginary Part,Unnamed: 3,Real Part,Unnamed: 5,Gender,Age,Smoking
2,-320.61,-300.5635307,-495.26,-464.1719907,1.0,77.0,2.0
3,-325.39,-314.7503595,-473.73,-469.2631404,0.0,72.0,2.0
4,-323,-317.4360556,-476.12,-471.8976667,1.0,73.0,3.0
5,-327.78,-317.3996698,-473.73,-468.856388,1.0,76.0,2.0
6,-325.39,-316.1557853,-478.52,-472.8697828,0.0,65.0,2.0
...,...,...,...,...,...,...,...
368,-323,-314.3844336,-476.12,-472.1036892,1.0,38.0,1.0
369,-323,-314.3236277,-476.12,-472.3954131,1.0,36.0,1.0
370,-323,-312.8566556,-480.91,-472.2942809,0.0,33.0,1.0
371,-327.78,-319.305447,-476.12,-471.7769183,1.0,43.0,1.0
377,-327.78,-318.0684986,-473.73,-457.0464645,0.0,25.0,2.0

In [18]:
from sklearn.preprocessing import MinMaxScaler
#Normalization is a rescaling of the data from the original range so that all values are within the new range of 0 and 1.
# normalize dataset using the scikit-learn object MinMaxScaler.
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

[[0.0494754  0.08417569 0.20960087 ... 1.         0.78947368 0.5       ]
 [0.03534801 0.04109143 0.24389195 ... 0.         0.72368421 0.5       ]
 [0.0424117  0.03293518 0.24008537 ... 1.         0.73684211 1.        ]
 ...
 [0.0424117  0.04684246 0.23245628 ... 0.         0.21052632 0.        ]
 [0.02828432 0.02725799 0.24008537 ... 1.         0.34210526 0.        ]
 [0.02828432 0.03101451 0.24389195 ... 0.         0.10526316 0.5       ]]